{{- $project := index .Page.Params "_project" -}}
{{- if eq $project nil -}}
{{- $project = index (split .Page.FirstSection.File.Dir "/") 0 -}}
{{- end -}}
{{- $params := index .Site.Params $project -}}
{{- $version := index .Page.Params "_version" -}}
{{- if eq $version nil -}}
{{- $version = $params.documentation.defaultVersion -}}
{{- end -}}
{{- $versions := $params.documentation.versions -}}
<div data-controller="menu" data-action="keydown->menu#close">
    <div
            class="relative md:mr-0"
            data-controller="select"
            data-action="select:click:outside->select#close"
    >
        <button
                type="button"
                class="btn"
                aria-haspopup="listbox"
                aria-expanded="true"
                aria-labelledby="listbox-label"
                data-select-target="button"
                data-action="click->select#toggle"
        >
          <span
                  aria-label="Selected"
                  class="bg-green-500 shrink-0 inline-block h-2 w-2 rounded-full dark:bg-green-300"
          ></span>
            <span class="grow ml-2 truncate font-medium">
            {{ $version }}
          </span>
            <span
                    class="flex-none inset-y-0 text-secondary-800 pointer-events-none dark:text-primary-200"
            >
            <!-- Heroicon name: solid/selector -->
            <svg
                    class="ml-2 h- w-5 opacity-60"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
            >
              <path
                      fill-rule="evenodd"
                      d="M10 3a1 1 0 01.707.293l3 3a1 1 0 01-1.414 1.414L10 5.414 7.707 7.707a1 1 0 01-1.414-1.414l3-3A1 1 0 0110 3zm-3.707 9.293a1 1 0 011.414 0L10 14.586l2.293-2.293a1 1 0 011.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
                      clip-rule="evenodd"
              />
            </svg>
          </span>
        </button>
        <ul
                class="hidden absolute z-10 mt-1 w-full shadow-clean-lg max-h-60 rounded-md py-1 px-1 text-base ring-1 ring-secondary-200/50 overflow-auto transition transform focus:outline-hidden sm:text-sm bg-light-note dark:bg-dark-bg-secondary dark:shadow-clean-dark-lg dark:ring-0"
                data-select-target="menu"
                tabindex="-1"
                role="listbox"
                aria-labelledby="listbox-label"
                data-transition-enter-active=""
                data-transition-enter-from=""
                data-transition-enter-to=""
                data-transition-leave-active="ease-in duration-100"
                data-transition-leave-from="opacity-100"
                data-transition-leave-to="opacity-0"
        >
            {{ range $name, $path := $versions }}
            <li
                    class="cursor-default select-none relative"
                    id="listbox-option-0"
                    role="option"
            >
                {{ $url := (printf "/%s/%s/" $project $name) }}
                <a
                        href="{{ $url | relURL }}"
                        class="flex justify-end items-center content-center transition py-2 px-1.5 rounded-sm duration-300 hover:bg-light-note-darker dark:hover:bg-dark-note-darker"
                >
                    {{ if eq $version $name }}
                    <span
                            aria-label="Selected"
                            class="bg-green-500 shrink-0 inline-block h-2 w-2 rounded-full dark:bg-green-300"
                    ></span>
                    {{ end }}
                    <span
                            class="grow self-center ml-2 {{ if ne $version . }}
                    ml-5 font-normal
                  {{ else }}
                    font-medium
                  {{ end }} inline-block truncate"
                    >
                  {{ $name }}
                </span>
                </a>
            </li>
            {{ end }}
        </ul>
    </div>

</div>
