.search .search-overlay {
  @apply opacity-0 z-1 bg-black/50 h-0 fixed left-0 top-0 w-0;
  transition:width 0ms .25s,height 0ms .25s,opacity .25s;
}

.search .search-overlay.search-expanded {
  height:200vh;
  opacity: 1;
  transition:width 0ms,height 0ms,opacity .25s;
  width: 100%;
}

.search .search-expandable {
  @apply w-48 z-2 bg-light-note-secondary dark:bg-dark-bg-primary bg-transparent;
  transition:width .25s cubic-bezier(.1,.7,.1,1);
}

.search .search-expandable.search-expanded {
  @apply w-200;
}

.search .search-input {
  @apply bg-light-note-tertiary w-full pl-[3.2rem] p-1 rounded-t-md;
}

.search .search-input:not(.search-expanded) {
  @apply rounded-b-md;
}

.search .search-icon {
  @apply absolute top-[.35rem] left-[.75rem] h-[1.6rem] w-[1.6rem];
}

.search .search-icon::after{
  background-color:currentColor;
  content:"";
  display:inline-block;
  height:100%;
  width:100%;
  -webkit-mask-image:var(--search-icon);
  mask-image:var(--search-icon);
  -webkit-mask-position:center;
  mask-position:center;
  -webkit-mask-repeat:no-repeat;
  mask-repeat:no-repeat;
  -webkit-mask-size:contain;
  mask-size:contain;
}

.search .search-output {
  @apply bg-light-note-secondary dark:bg-dark-bg-primary overflow-hidden absolute w-full z-[2] opacity-0 top-[2.3rem] transition-opacity duration-400 rounded-b-md;
}

.search .search-output.search-expanded {
  @apply opacity-100 shadow-md;
}

/* Search scrollwrap styling */
.search .search-scrollwrap {
  @apply max-h-[75vh] overflow-y-auto w-full;
  scrollbar-width: thin;
}

/* For Webkit browsers (Chrome, Safari, etc.) */
.search .search-scrollwrap::-webkit-scrollbar {
  @apply w-2;
}

.search .search-scrollwrap::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.search .search-scrollwrap::-webkit-scrollbar-thumb {
  @apply bg-gray-300 dark:bg-gray-700 rounded-full;
}

.search .search-result-meta {
  @apply pl-[3.2rem] pr-1 py-2 text-xs;
}

.search .search-result-list {
  user-select: none;
  list-style: none;
  word-break: break-word;
}

/* Search Results Styling */
.search-result-item {
  @apply shadow-none;
}

.search-result-link {
  @apply block outline-none text-current no-underline py-2;
  scroll-snap-align: start;
  transition: background-color .25s;
}

.search .search-result-link:hover {
  @apply bg-light-note/35 dark:bg-dark-bg-primary;
}

.search .search-result-link article {
  @apply relative overflow-hidden m-0 pl-[3.2rem];
  line-height: 1.6;
}

.search .search-result-icon {
  @apply flex absolute left-0 h-[2.0rem] w-[2.0rem] ml-[.6rem] mt-[.1rem];
}

.search .search-result-icon::after {
  background-color:currentColor;
  content:"";
  display:inline-block;
  height:100%;
  width:100%;
  -webkit-mask-image:var(--search-result-icon);
  mask-image:var(--search-result-icon);
  -webkit-mask-position:center;
  mask-position:center;
  -webkit-mask-repeat:no-repeat;
  mask-repeat:no-repeat;
  -webkit-mask-size:contain;
  mask-size:contain;
}

.search-result-nav {
  @apply pt-2 flex gap-2;
}

.search-result-tag {
  @apply px-2 py-0.5 bg-light-note-tertiary rounded-full text-xs;
}

.search-result-item h1 {
  @apply flex items-center px-0 py-[0.2rem] text-base;
}

/* Highlight matching text */
.search-result-item em {
  @apply text-blue-600 font-medium not-italic rounded-sm;
}

/* Dark mode styles */
html.dark .search-result-item {
  @apply bg-gray-900/10;
}

html.dark .search-result-item:hover {
  @apply bg-gray-900/25;
}

html.dark .search-result-item h1 {
  @apply bg-blue-950/50 text-blue-300 ring-blue-200/10;
}

html.dark .search-result-item:hover h1 {
  @apply bg-blue-950/80;
}

html.dark .search-result-item em {
  @apply text-blue-300;
}
